{% extends 'base.html'%}
{% load static %}

{% block title %}
	Add Audio
{% endblock title %}

{% block css %}
	<link rel="stylesheet" href="{% static 'custom_style.css' %}" />
{% endblock css %}

{% block content %}
	<div class="row w3-padding-64">
		<form class="w3-card w3-padding w3-round" method="post" enctype="multipart/form-data">
			<h1 class="w3-text-blue">Add Audio</h1>
			{% csrf_token %}
			{{form.as_p}}
			<button class="w3-bar w3-button w3-blue w3-round" type="submit">Submit</button>
		</form>
	</div>
{% endblock content %}
