{% extends 'base.html' %}

{% block title %}
MyMedia
{% endblock title %}

{% block links %}
	<a class="w3-button" href="{% url 'add_video' %}">Upoad Video</a>
	<a class="w3-button" href="{% url 'add_audio' %}">Upload Audio</a>
	<a class="w3-button" href="{% url 'add_photo' %}">Upload Photo</a>
{% endblock links %}
{% load static %}
{% block css %}
	<link rel="stylesheet" href="{% static 'custom_style.css' %}"/>
{% endblock css %}

{% block content %}
	<h1 class="w3-text-blue w3-jumbo">Welcome To MyMedia</h1>
	<hr/>
	<h1>Photos</h1>
	<div class="row">
		{% for photo in photos %}
			<div class="row-items">
				<div class="w3-card">
					<img src="{{photo.picture.url}}" class="image">
					<hr/>
					<p class="w3-container" style="height:20px; overflow:hidden;">
						{{photo.description}}<br/>
					</p>
				</div>
			</div>
		{% endfor %}
	</div>
	<h1>Videos</h1>
	<div class="row">
		{% for video in videos %}
			<div class="row-items">
				<div class="w3-card">
					<video controls class="w3-image">
						<source src="{{video.video.url}}"></source>
					</video>
					<hr/>
					<div class="w3-container" style="height:20px; overflow:hidden">
						{{video.description}}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<h1>Audios</h1>
	<div class="row">
		{% for audio in audios %}
			<div class="row-items">
				<div class="w3-card">
					<audio controls class="audio">
						<source src="{{audio.audio.url}}" />
					</audio>
					<hr/>
					<div class="w3-padding w3-container">
						{{audio.title}}
					</div>
				</div></div>
		{% endfor %}
	</div>
{% endblock content %}
