{% extends 'base.html' %}

{% block title %}{{photo.title}}{% endblock %}
{% block links %}
	<a class="w3-button w3-bar-item" href="{% url 'photos' %}">Photos</a>
	<a class="w3-button w3-bar-item" href="{% url '/upload' %}">Upload</a>
{% endblock links %}
{% block content %}
	<div class="w3-padding-64 w3-container">
		<div class="w3-card w3-padding-large">
			<div class="w3-container">
				<img src="{{photo.picture.url}}" class="w3-image">
			</div>
			<hr/>
			<h1 class="w3-text-blue">{{photo.title}}</h1>
			<div class="w3-container">
				{{photo.description}}
			</div>
			<hr/>
			<div class="w3-row">
				<a class="w3-btn w3-col l1 m1 s1 w3-left fa fa-thumbs-up w3-padding w3-text-indigo" href="{{photo.picture.ulr}}"></a>
				<a class="w3-btn w3-col l1 m1 s1 fa fa-love w3-padding w3-text-green" href="{{photo.picture.ulr}}"></a>
				<a class="w3-btn w3-col l1 m1 s1 fa fa-heart w3-padding w3-text-red" href="{{photo.picture.ull}}"></a>
				<a class="w3-btn w3-col l1 m1 s1 w3-right fa fa-share w3-padding w3-text-blue" href="{{photo.picture.ulr}}"></a>
			</div>
		</div>
	</div>
{% endblock %}

