{% extends 'base.html' %}

{% load static %}
{% block css %}
	<link rel="stylesheet" href="{% static 'custom_style.css' %}"/>
{% endblock css %}

{% block title %}Photos{% endblock %}

{% block content %}
	<h1 class="w3-jumbo w3-text-blue">Wonderful Photos</h1>
	<div class="row">
		{% for photo in photos %}
			<div class="w3-card row-items w3-padding" style="height:400px; width:300px">
				<h2 class="w3-text-blue w3-large">{{ photo.title }}</h2>
				<a class="w3-btn" href="{% url 'photo' pk=photo.id %}">
					<img src="{{photo.picture.url}}" class="image w3-mobile" style="">
				</a>
				<p style="height:30px;overflow:hidden">{{ photo.description }}</p>
				<hr/>
				<div clas="w3-content" >
					<span class="fa fa-thumbs-down w3-padding w3-left w3-hover-text-gray w3-text-red"></span>
					<span class="fa fa-thumbs-up w3-right w3-padding w3-hover-text-gray w3-text-blue"></span>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}

