{% extends 'todo_base.html' %}
{% load static %}

{% block css %}
	<link rel="stylesheet" href="{% static 'custom_style.css' %}">
{% endblock css %}

{% block title %}
	musaaj | Todo
{% endblock title %}


{% block content %}
	<section class="container-fluid row">
		<form class="card shadow d-none d-lg-block d-md-block p-3 row-items" method="post">
			<h1 class="p-2">Log in</h1>
			{% csrf_token %}
			{% if error %}
				<p class="text-danger">{{error}}!</p>
			{% endif %}
			{{form.as_p}}
			<button class="btn w3-theme-action" type="submit">Log in</button>
			<p class="p-2">Don't have an account? <a href="{% url 'signup' %}">Register</a></p>
		</form>
		<form class="container-fluid clearfix d-md-none d-lg-none d-sm-block" method="post">
			<h1 class="p-2">Log in</h1>
			{% csrf_token %}
			{% if error %}
				<p class="text-danger">{{error}}!</p>
			{% endif %}
			{{form.as_p}}
			<button class="btn w3-theme-action" type="submit">Log in</button>
			<p class="p-2">Don't have an account? <a href="{% url 'signup' %}">Register</a></p>
		</form>
	</section>
{% endblock content%}
