{% extends 'todo_base.html' %}
{% load static %}

{% block css %}
	<link rel="stylesheet" href="{% static 'custom_style.css' %}">
{% endblock css %}

{% block title %}
	musaaj | Todo
{% endblock title %}


{% block content %}
	<section class="container-fluid row">
		<form class="card shadow p-2 row-items" method="post">
			<h1 class="p-2">Register</h1>
			{% csrf_token %}
			{{form.as_p}}
			<p class="center">Already have an account? <a href="#">Sign in</a></p>
			<button class="btn btn-primary" type="submit">Register</button>
		</form>
	</section>
{% endblock content%}
